@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #FAFAFA;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  margin: 0;
  padding: 0;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  cursor: pointer !important;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  cursor: pointer !important;
}

.article-title {
  font-size: 1.2rem;
  font-weight: bolder;
  margin-left: 10px;
}

.btn {
  border-radius: none;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  font-weight: 300;
  margin: 1px;
  padding: 6px;
}

.btn:hover {
  background-color: #F7FCF8;
}

.counter {
  background-color: #FFF;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-grow: 1;
  font-size: 12px;
  justify-content: flex-end;
  padding: 10px 15px;
}

.icons {
  color: #010E05 !important;
  margin: 4px 10px;
}




/* Modal */
.custom-modal {
  align-items: center;
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height: 100vh;
  width: 100%;
}

.custom-modal-child {
  background-color: #FFF;
  border: 1px solid #212121;
  opacity: none;
  height: 370px;
  width: 666px;
}

.custom-modal-close {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.custom-modal-picture {
  background-color: rgb(187, 154, 154);
  padding: 0 15px;
}

.file-upload-button {
  background-color: red !important;
}

.file-upload-wrapper {
  border: 1px dotted green;
  height: 141px;
  width: 352px;
}

.popup-btn {
  background-color: #E7F1E9;
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin: 0 10px 3px !important;
  padding: 0.6em .9em;
  width: 10px;
}

.popup-category {
  display: flex;
  flex-direction: column;
}

.popup-category-sm {
  font-size: 12px;
}

.popup-category-title {
  font-weight: bold;
}

.popup-select-box {
  background-color: #FFF;
  box-shadow: 1px 1px #00000014;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 40%;
  z-index: 1000;
}

.popup-wrapper {
  /* background-color: bisque; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px 0;
}

.popup-wrapper > div ::selection {
  background-color: transparent !important;
}

.submit-btn {
  background-color: #0A7227;
  border-radius: 4px;
  color: #FFF;
}

.submit-btn-alt {
  background-color: #0A7227;
  border-radius: 4px;
  color: #FFF;
}

.submit-wrapper {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.ql-toolbar {
  background-color: #fff;
  border: 1px solid #E7F1E9 !important;
  border-radius: 5px;
  display: flex !important;
  justify-content: flex-start !important;
  margin-left: 10px;
  /* position: fixed; */
  width: 80% !important;
  /* z-index: 1000; */
}

.ql-container.ql-snow {
  border: none !important;
}

.whitespace {
  height: 50px !important;
}

.wrapper {
  background-color: #FAFAFA;
  border: 1px solid #E7F1E9;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  margin: 10px;
  /* position: relative; */
}



/* Toggle */
.toggle-container {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 14px;
  border-radius: 12px;
  background-color: #ccc;
  cursor: pointer;
}

.toggle-handle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.toggle-container.on {
  background-color: #0A7227;
}

.toggle-container.on .toggle-handle {
  transform: translateX(10px);
}
